.popup__input {
  font-size: 14px;
  line-height: 1.2;
  padding: 0 0 13px 0;
  border: none;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
}
