.popup__input-about {
  border: none;
  border-bottom: 1px solid #000000;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  opacity: 0.2;
  color: black;
  padding-bottom: 13px;
}